@mixin mainAlignment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin articleAlignment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}